@model Event_manager_v2.Models.LoginForm

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Login</h4>
        <hr />
        <div class="form-group">
            <label for="usernameinput" class="control-label col-md-2">Gebruikersnaam</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.gebruikersnaam, new { id = "form-control" })
                @Html.ValidationMessageFor(m => m.gebruikersnaam, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="login" />
                <span class="text-danger">
                    @if (ViewBag.NotValidUser != null)
                    {
                        @ViewBag.NotValidUser
                    }
                </span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geen account? Registeer hier.", "Create", "Account")
</div>


