@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Evenement manager</h1>
    <p class="lead">Evenement manager is een gratis online evenement management tool.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bekijk Evenementen</h2>
        <p>
            Bekijk het overzicht van evenementen en zoek naar iets waar je aan wil meedoen!
        </p>
        @Html.ActionLink("Evenementen", "Index", "Evenementen", null, new { @class="btn btn-default"})
    </div>
    <div class="col-md-4">
        <h2>Maak een Evenement</h2>
        <p>Maak hier zelf een evenement aan</p>
        @Html.ActionLink("Evenement aanmaken", "Create", "Evenementen", null, new { @class="btn btn-default"} )
    </div>
    <div class="col-md-4">
        <h2>Maak een account</h2>
        <p>Heb je nog geen account? Registreer hier!</p>
        @Html.ActionLink("Registeer", "Create", "Account", null,  new { @class = "btn btn-default" })
    </div>
</div>